
#hello{
    background-color: saddlebrown;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
    color: whitesmoke;
    border: 10px solid white;
    border-radius:20px;
}

#margin{
    background-color: turquoise;
    display: inline-block;
}
        
        